<%= form_for @comp do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.label :question %><br />
    <%= f.text_field :question %>
  </div>
  <div class="field">
    <%= f.label :correct_answer %><br />
    <%= f.text_field :answer %>
  </div>
  <div class="field">
    <%= f.label :prize %><br />
    <%= f.text_field :prize %>
  </div>
  <div class="field">
    <%= f.label :choice_one %><br />
    <%= f.text_field :answer_one %>
  </div>
  <div class="field">
    <%= f.label :choice_two %><br /> 
    <%= f.text_field :answer_two %>
  </div>
  <div class="field">
    <%= f.label :choice_three %><br />
    <%= f.text_field :answer_three %>
  </div>
    <%= hidden_field_tag :user_id, current_user.id %>
  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>